.container {
    /* padding: 0 2rem; */
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 1rem 2rem; */
}

/* .levelCoursesContainer { */
/*     min-width: 360px; */
/*     width: 100%; */
/* } */

/* @media only screen and (min-width: 1280px) { */
/*     .levelCoursesContainer { */
/* 	padding: 1rem 14rem; */
/*     } */
/* } */

.levelCoursesContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.courses-container {
    background-color: #F6FEFF;    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* padding: 0.5rem 1rem; */
}

.level-courses {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.course-level {
    color: white;
    background-color: #0070f3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 8px 0px;
}

.tabNavBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    /* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */
    box-shadow: 0px 10px 10px -6px #22222222;
    padding: 0px 6rem;
}

.searchBar {
    display: flex;
    align-items: center;
}

.searchInput {
    outline: none;
    border: none;
    border-bottom: 2px solid #11111111;
    padding: 6px 6px;
    transition: all .5s ease;
}

.searchInput:focus {
    border-left: 2px solid transparent;    
    border-bottom: 2px solid var(--primary-color);    
}

.tabItems {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.tabItemActive {
    min-width: 120px;
    border-bottom: 2px solid var(--primary-color);
    text-align: center;
    padding: 10px 0px;
    transition: all .2s ease;
    cursor: pointer;
}

.tabItem {
    cursor: pointer;
    min-width: 120px;
    border-bottom: 2px solid transparent;
    text-align: center;
    padding: 10px 0px;
    transition: all .2s ease;    
}

.extras {
    display: flex;
    justify-content: space-between;
}

.smallIcon {
    cursor: pointer;
    border: solid 1px #11111111;
    border-radius: 5px;
    box-shadow: 1px 1px 6px #11111111;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    /* color: var(--secondary-color); */
}

.courseCard {
    cursor: pointer;
    box-shadow: 1px 1px 8px #11111111;
    max-width: 350px;
    min-width: 320px;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.courseCard:hover {
    transform: scale(101%);
    box-shadow: 1px 1px 10px #11111111;    
}

.courseImg {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}

.courseDetails {
    padding: 20px 20px;
}

.captionText {
    font-size: 14px;
    font-weight: 300;
    color: grey;
}

.titleText {
    font-size: 20px;
    font-weight: 700;
}

.courseTimings {
    display: flex;
    justify-content: space-between;
}

.lessons {
    display: flex;
    align-items: center;
}

.tabContentsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tabContent {
    width: 100%;
    display: none;
    transition: all 0.5s ease;
}

.tabActive {
    /* display: inherit; */
    display: flex;
    justify-content: center;    
    transition: all 0.5s ease;    
}
