.heroContainer {
  /* position: relative; */
}

.containerDivider {
  color: lightgrey;
  display: flex;
  width: 100%;
  position: absolute;
  padding: 10px 20px;
  transform: translateY(-100%);
  gap: 1rem;
}

.containerDivider:nth-child(2) {
    display: hidden;
}

.coverImageContainer {
    max-height: 60vh;
    overflow: hidden;
    opacity: 1;
    filter: brightness(0.7);
}

.heroContentContainer {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}




.detailsContainer {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.courseTitle {
  font-size: 40px;
  font-weight: bold;
}

.headingTwo {
  font-size: 30px;
  font-weight: 700;
}

.lessonsContainer {
}

@media only screen and (min-width: 1024px){
    .coverImageContainer {
	max-height: 60vh;
    }

    .heroContentContainer {
	padding: 10px 200px;
    }

    .detailsContainer {
	padding: 10px 200px;
    }
}
