.primaryButton {
    border: none;
    background-color: var(--primary-color);
    color: white;
    width: 100%;
    padding: 14px 0px;
    border-radius: 10px;
    
    font-size: 1.2rem;
    font-weight: bold;

    cursor: pointer;
}


.primaryButton:hover {
    background-color: #0FF8F1;
    /* box-shadow: 1px 1px 2px 1px #44333333; */
}
