.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #F6FEFF; */
    background-color: white;
    padding: 5px 0px;
    box-shadow: 1px 1px 2px 0.2px #eeeeee;
}

.navlist {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
    
    gap: 20px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    /* background-color: #F6FEFF; */
    background-color: white;
    height: 100vh;
    padding: 1rem 2rem;
    transition: all 1s ease;
    overflow: visible;
}

.hamburger {
    display: flex;
    justify-content: flex-end;
}

.hamburger:hover {
    cursor: pointer;
}


@media only screen and (min-width: 768px) {
    .navlist {
	flex-direction: row;
	padding: 0px;
	height: inherit;
	position: inherit;
    }

    .nav {
	justify-content: space-around;
    }
}

.navitem {
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    background-color: white;
    /* background-color: red; */
}

.anchorTag {
    font-weight: bold;
    transition: all .2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.anchorTag:hover {
    color: var(--primary-color);
}


.loginButton {
    border: 2px solid var(--primary-color);
    padding: 5px 20px;
    border-radius: 4px;
    text-align: center;
    vertical-align: center;
    color: var(--primary-color);
}

.loginButton:hover {
    box-shadow: 1px 1px 2px 0.2px #eeeeee;
}

.registerButton {
    border: 2px solid var(--primary-color);
    padding: 5px 20px;
    border-radius: 4px;
    text-align: center;
    vertical-align: center;
    background-color: var(--primary-color);
    color: white;
}

.registerButton:hover {
    box-shadow: 1px 1px 2px 0.2px #eeeeee;    
}


.userProfilePhoto {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    object-fit: contain;
}
