.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F6FEFF;
}

.navlist {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.navitem {
    cursor: pointer;
    font-weight: normal;
    font-size: 16px;
}

.navitem:hover {
    color: #0070f3;
}
