.main {
    padding: 1rem 1rem;
}

@media only screen and (min-width: 640px){
    .main {
	padding: 1rem 3rem;
    }
}

@media only screen and (min-width: 768px){
    .main {
	padding: 1rem 6rem;
    }
}

@media only screen and (min-width: 1024px){
    .main {
	padding: 1rem 14rem;
    }
}





.bodyText {
    font-size: 14px;
    font-weight: 300;
    display: flex;
    align-items: center;
}


.form-container {
    box-shadow: 1px 1px 6px #33222222;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 30px;
    flex: 1;
    min-width: 340px;
    width: 100%;
}


.form-input {
    outline: none;
    padding: 5px 16px;
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 5px;
    color: black;
    transition: all 0.2s ease;
    font-weight: 300;
}

.form-input::placeholder {
    font-family: "Montserrat";
}

.form-input:focus {
    border-bottom: 2px solid #EFB53A;
}

.text-area {
    outline: none;
    border: 1px solid gray;
    padding: 10px 16px;
    transition: all 0.2s ease;
    resize: none;
    border-radius: 5px;
    font-weight: 300;
}

.text-area:focus {
    border-bottom: 2px solid #EFB53A;
}

.primary-button {
    outline: none;
    border: none;
    padding: 14px 15px;
    background-color: #0070f3;
    color: white;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.2s ease;
}

.primary-button:hover {
    box-shadow: 1px 1px 2px 2px #dddddd;
    background-color: #0060e3;    
}
