.footer{
    display: flex;
    flex-direction: column;
    /* font-family: "Lato", "Poppins", "sans-serif"; */
    box-shadow: 1px 1px 5px #11222222;
}

@media only screen and (min-width: 1280px) {
    .footer {
	padding: 2rem 8rem;
    }
}

.footerContents{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 14px;
}

.logoImg>img{
    width: 150px;
    object-fit: contain;
}

.logoBorder1{
    width: 270px;
    height: 1px;
    background-color: black;
    margin: 6px 0px;
}

.primaryFooterContents{
    padding: 2rem 2rem;
    flex: 1;
    max-width: 600px;
}

.secondaryFooterContents{
    max-width: 400px;
    padding: 2rem 2rem;
}

.logoBorder2{
    width: 180px;
    height: 1px;
    background-color: black;
    padding: 0px;
    margin-bottom: 4px;
}

.navLinks{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.navLinks>li>a{
    text-decoration: none;
    color: #557763;
    /* color: #427ac1; */
    /* color: var(--primary-color); */
}

.thirdFooterContents{
    max-width: 400px;
    min-width: 300px;
    flex: 1;
    padding: 2rem 2rem;
}

.secondaryFooterContents>h3, .thirdFooterContents>h3, .fourthFooterContents>h3{
    font-size: 18px;
    color: #427ac1;    
    /* font-weight: normal; */
    /* color: var(--primary-color); */
}

.fourthFooterContents {
    max-width: 400px;
    min-width: 300px;
    padding: 2rem 2rem;
}

.copyright{
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: white;
}

.copyright>p{
    font-size: 14px;
    color: white;
    /* color: #39A1FF; */
}

.iconInfo {
    display: flex;
    align-items: center;
    color: #557763;
}

.infoText {
    font-size: 13px;
    letter-spacing: 0.02rem;
    word-spacing: 0.1rem;
}

