.top-blog-container {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;

    @media only screen and (max-width: 1024px) {
	justify-content: center;
    }
}

.blog-image {
    /* max-width: 450px; */
    width: 100%;
    /* height: 200px; */
    object-fit: cover;
    border-radius: 5px;
}

.blog-container {
    max-width: 450px;
    border-radius: 4px;    
    padding: 20px;
    transition: all 0.2s ease;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 1px 1px 6px 0.1px red; */
    box-shadow: 0.01px 0.01px 2px 0.1px #888888;    
}

.blog-container:hover {
    cursor: pointer;
    box-shadow: 0.01px 0.01px 4px 0.2px #888888;
}

.image-container {
    width: auto;
    border-radius: 10px;    
}

.info-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* width: 500px; */
    /* background-color: red; */
}

.smallinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.small-category-text {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
}

.small-publish-date {
    font-size: 10px;
    font-weight: 300;
}

.blog-title {
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 0.05rem;
}

.blog-summary {
    font-size: 13px;
    font-weight: 300;
}

.author-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.blog-author-container {
    display: flex;
    align-items: center;
}

.blog-author-name {
    font-size: 14px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

.blog-author-post {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-weight: 200;
    color: grey;
}
