.menuContainer {

}

.menuTitle {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.itemList {
    position: absolute;
    transform: translateX(-50%);
    list-style-type: none;
    background-color: ghostwhite;
    padding: 5px 5px;
    border-radius: 5px;
    box-shadow: 0px 0.1px 3px 1px #22222255;
    z-index: 100;
}

.item {
    padding: 10px 15px;
    border-bottom: 1px solid grey;    
}

.item:hover {
    background-color: lightslategrey;
    cursor: pointer;
}


.item:last-child{
    border-bottom: none; 
}

/* .item:nth-child(odd){ */
/*     border-bottom: 1px solid grey; */
    
/* } */
