.container {
    width: 964px;
    height: 200px;
    display: flex;
    align-items: center;
}

.review {
    font-size: 14px;
}

.profile {
    min-width: 200px;
    min-height: 200px;
    background-color: grey;
}




